@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.logo-font {
    font-family: 'TTLaundryGothicB' ;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  
  .modal-open-button, .modal-close-btn {
    cursor: pointer;
    margin-left: auto;
  }
  
  .modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #ffffff;
    width: 500px;
    height: 500px;
    padding: 15px;
  }